__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.ipynb_checkpoints
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*
!models/.gitkeep

.env
.vscode/
.idea/

.pytest_cache/
.mypy_cache/
.DS_Store
